@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';

@custom-variant dark (&:where(.dark, .dark *));
@plugin "flowbite-typography";

.ProseMirror {
  min-height: 300px;
  height: 300px;
}

.ProseMirror:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
